<section class="section">
    <div class="columns">
        <div class="column is-hidden-touch"></div>
        <div class="column is-half-desktop">
            <ul>
                <li class="incidents">
                    <p>There is a emergency incident near you: </p>
                    <a class="button is-danger"> <i
                            [ngClass]="getfaClass(selected_incident.type)" class="fas"></i>
                        {{selected_incident.name}}
                    </a>
                </li>
            </ul>

            <div #map id="map"></div>
            <br>

            <table class="table">
                <thead>
                    <tr>
                        <th><abbr title="Nearest Assembly Point">Safe Zone</abbr></th>
                        <th><abbr title="Distance to safe zone from your current location">Distance</abbr></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sz of selected_incident?.safe_zones;">
                        <th>{{sz.name}}</th>
                        <td>{{sz.distance}} meters <a href="" class="button is-link is-small"><i class="fas fa-route"></i> Navigateg</a></td>
                    </tr>
                </tbody>
            </table>
            <div class="columns is-mobile">
                <div class="column">
                    <a class="button is-danger is-rounded is-medium"><i class="fas fa-ambulance"></i>I Need
                        Assistance</a>
                </div>
                <div class="column">
                    <a class="button is-success is-rounded is-medium"><i class="fas fa-check-circle"></i>I Am Safe</a>
                </div>
            </div>


        </div>
        <div class="column is-hidden-touch"></div>
    </div>
</section>
<br>
<br>
<br>
