<section class="section">
    <div class="columns">
        <div class="column is-hidden-touch"></div>
        <div class="column is-half-desktop">
            <div #map id="map"></div>
            <br>
            <ul class="menu-list">
                <li><a>Team Settings</a></li>
                <li><a>Invitations</a></li>
                <li><a>Cloud Storage Environment Settings</a></li>
                <li><a>Authentication</a></li>
            </ul>
        </div>
        <div class="column is-hidden-touch"></div>
    </div>
</section>